<% provide(:title, 'Welcome') %>
<% unless user_signed_in? -%>
  <p><%= link_to 'Sign up as User', new_user_registration_path %></p>
  <p><%= link_to 'Sign in as User', new_user_session_path %></p>
<% end -%>

<% if user_signed_in? %>
  <br />
  <div class="masonry">
    <% @posts.each do |post| %>
      <div class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="contentBox">
          <%= image_tag post.image, class: 'img-responsive' %>
          <div class="postName"><%= post.name %></div>
          <div class="postTags"><strong>TAGS</strong> / <%= post.tag %></div>
          <div class="postCats"><strong>CATEGORIES</strong> / <%= post.category %></div>
        </div>
      </div>
    <% end %>
  </div>

  <br />
<% end %>