<h1>GIFs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Category</th>
      <th>User Id</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.tag %></td>
        <td><%= post.category %></td>
        <td><%= post.user_id %></td>
        <td><img src="<%= post.image %>"</td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
